.Memory {
    max-width: 60vw;
    height: 50vh; /* Set the height to 50% of the viewport height */
    object-fit: contain;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.2vw solid #CAABD8; /* Set the border color */
    border-radius: 10%; /* Make the border rounded */
    box-shadow: 0 0 10px 10px rgba(113, 66, 136, 0.5); /* Add a fading shadow */
    box-sizing: border-box; /* Include the border in the element's total width and height */
    transition: opacity 1s ease-in-out;
    position: relative;
    z-index: 100;
}